@import './var.css';
@import './reset.css';
@import '../assets/iconfont/iconfont.css';
@import './tailwind.css';

#app {
  min-height: 100vh;
  width: 100%;
  color: var(--text);
  font-family: 'Microsoft YaHei', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
  transition: color 1s ease-in-out;
}

.dark #app {
  color: var(--dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-weight: bold;
}
.scrollbar {
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background: var(--scroll-piece);
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 20px;
}
.dark .scrollbar::-webkit-scrollbar-track-piece {
  background: var(--dark-scroll-piece);
}
.dark .scrollbar::-webkit-scrollbar-thumb {
  background: var(--dark-scroll-thumb);
}
@media (max-width: 640px) {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track-piece {
    background: var(--scroll-piece);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
  }
}
