@import './reset.css';
@import './var.css';
@import '../assets/iconfont/iconfont.css';
@tailwind base;

#app {
  min-height: 100vh;
  width: 100%;
  color: var(--fri-text-color);
  font-family: 'Microsoft YaHei', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fri-text-color);
  font-weight: bold;
}

.scrollbar {
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar-track-piece {
  background: rgba(216, 231, 240, 0.9);
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(194, 207, 216, 0.8);
  border-radius: 20px;
}