:root {
  /* base */
  --font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;

  /* theme-light */
  --page-bg: #c5dae2;
  --bg-hover: #f5f5f5;
  --text: #718d9b;
  --text-hover: #00bdea;
  --link: #579fe9;
  --link-hover: #1e6ab7;
  --main-bg: white;
  --aside-bg: #f5f5f5;
  --scroll-piece: rgba(218, 230, 238, 0.9);
  --scroll-thumb: rgba(188, 198, 223, 0.8);
  --border: #e5e7eb;
  --focus-border: #bae6fd;
  --card-bg: #f0f9ff;
  --warning: #cb9012;

  /* dark-mode */
  --dark-page-bg: #1f2635;
  --dark-bg-hover: #151e31;
  --dark-text: rgb(145, 158, 175);
  --dark-text-hover: rgb(185, 196, 212);
  --link: #1e6ab7;
  --link-hover: #579fe9;
  --dark-main-bg: #151e29;
  --dark-aside-bg: #131822;
  --dark-scroll-piece: rgba(18, 40, 54, 0.9);
  --dark-scroll-thumb: rgba(82, 86, 95, 0.8);
  --dark-border: rgb(13, 39, 53);
  --dark-focus-border: rgb(21, 53, 70);
  --dark-card-bg: #0a2c42;
}
